body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
  left: 0;
  padding: 10px;
}

.button {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  border-radius: 5px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(2, 0, 0, 0.815) 0 1px 30px;
  transition-duration: 0.1s;
}
